@import 'mixins';
@import 'variables';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'font-heading';
  src: url('../web-fonts/DroidSerif-Regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@import 'header';
@import 'aboutMe';
@import 'latestArticles';